<html>
	<head>
	</head>
	<body>
	<form id="chat_form" method="post", action="/favors/chat.html">
	{% csrf_token %}
	{{ form.non_field_errors }}
		<div>
			<br>Recipient: {{ chat_form.recipient }} </br>
			<br>Message: {{ chat_form.message }}</br>
			<input type="submit" name="submit" value="Send" /><br/>
		</div>
	</form>
	</body>
</html>