<html>
	<form id="login_form" method="post" action="/favors/login.html">
	{% csrf_token %}
	{{ form.non_field_errors }}
		<div>
			Username: {{ login_form.username }}<br/>
			Password: {{ login_form.password }}<br/>
			<input type="submit" name="submit" value="Login" /><br/>
		</div>
	</form>
</html>