<html>
	<body>
		<form id="new_favor_form" method="post" action="/favors/new_favor.html">
		{% csrf_token %}
			<div>
				Title: {{ new_favor_form.title }} <br/>
				Duration: {{ new_favor_form.duration }} <br/>
				Description: {{ new_favor_form.description }}<br/>
				Reward: {{ new_favor_form.reward }}<br/>
				Zip: {{ new_favor_form.zip }}<br/>
				Number of Participants: {{ new_favor_form.number_of_participants }}<br/>
				<input type="submit" name="submit" value="Login" /><br/>
			</div>
		</form>
	</body>
</html>