<html>
	<head>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>	
</head>
	<body>
	<form id="profile_form" method="post" action="/favors/profile.html">
	{% csrf_token %}
	{{ form.non_field_errors }}
		<div>
			{{ profile_form.logout.as_hidden }}
			First Name: {{ profile_form.firstName }}<br/>
			Last Name: {{ profile_form.lastName }}<br/>
			Qualifications: {{ profile_form.qualifications }}<br/>
			File: {{ profile_form.photoFile }}<br/>
			<input type="submit" name="submit" value="Login" /><br/>
			<a id="logout">Logout</a>
		</div>
	</form>
			<script>
			$(document).ready(function() {
				$("#logout").click(function() {
					$.post("/favors/profile.html", {logout:"logout",firstName:"test",lastName:"test2"});
				});
			});
		</script>
		</body>
</html> 