<html>
	<form id="user_form" method="post" action="/favors/registration.html">
	{% csrf_token %}
	{{ form.non_field_errors }}
		<div>
			Username: {{ user_form.username }}<br/>
			Password: {{ user_form.password }}<br/>
			Email: {{ user_form.email }}<br/>
			Zipcode: {{ personal_info_form.zipcode }}<br />
			First Name: {{ personal_info_form.firstName }}<br/>
			Last Name: {{ personal_info_form.lastName }}<br/>
			<input type="submit" name="submit" value="Register" /><br/>
		</div>
	</form>
</html>