<html>
	<head>
</head>
	<body>
	<form id="upload_profile_photo" method="post" action="/favors/upload_profile_photo.html" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.non_field_errors }}
		<div>
			File: {{ upload_profile_photo.photoFile }}<br/>
			<input type="submit" name="submit" value="Login" /><br/>
		</div>
	</form>
		</body>
</html>